body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

#about img {
    border-radius: 50%;
}

#projects .card {
    margin-bottom: 30px;
}

#contact form {
    background: #f4f4f4;
    padding: 30px;
    border-radius: 5px;
}
